*/.project
*/*/.project
*/*/*/.project


*/.settings
*/*/.settings
*/*/*/.settings

*/.classpath
*/*/.classpath
*/*/*/.classpath

*/.gitignore
*/*/.gitignore
*/*/*/.gitignore

*.class

**/target/classes/**
**/target/maven-status/**
**/target/surefire-reports/**
**/pom.xml.versionsBackup
.idea/**
.gitignore
