---
---

@import "{{ site.theme }}";

.page-header {
  background-color: #2ec27e;
  background-image: linear-gradient(0deg, #2ec27e, #26a269);
}

@media screen and (min-width: 64em) {
  .page-header {
    padding: 1rem;
  }
}
