[Desktop Entry]
Version=2.0.0
Encoding=UTF-8
GenericName=Visualization Tool
Comment=A Data Visualization and Analysis Tool for XRF Spectra
Exec=/usr/bin/peakaboo
Icon=/usr/share/Peakaboo/icon.png
Terminal=false
Type=Application
Categories=GTK;Utility
StartupNotify=true
MimeType=application/scandata-zip;
Name=Peakaboo
StartupWMClass=peakaboo-Peakaboo
