[Desktop Entry]
Name=Peakaboo
Comment=Plot and Map XRF Data
Keywords=xrf;plot;map;
Exec=/usr/bin/java -jar /usr/share/Peakaboo/Peakaboo.jar
StartupNotify=true
Terminal=false
Type=Application
Icon=/usr/share/Peakaboo/icon.png
Categories=Science;Physics;Chemistry;
StartupWMClass=Peakaboo
