name: Custom Build

on: workflow_dispatch

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v4
    
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: 'temurin'
        cache: maven
        
    - name: Build with Maven
      run: mvn -B package --file pom.xml
      
    - name: Create Datestamped Artifact
      run: mv ./Peakaboo-*.jar ./Peakaboo-SNAPSHOT-$(date +%Y%m%d).jar
      shell: bash
      
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with: 
        name: Peakaboo Nightly
        path: ./Peakaboo-SNAPSHOT-*.jar

