name: Package Release
run-name: Packaging Peakaboo ${{ github.ref_name }} for ${{ inputs.release_type == 'dev' && 'Development' || 'Release' }}

on:
  workflow_dispatch:
    inputs:
      release_type:
        description: 'Release type (release or dev)'
        required: true
        default: 'release'
        type: choice
        options:
          - release
          - dev

jobs:
  build-jar:

    runs-on: ubuntu-latest

    steps:
    
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.ref }}
    
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: 'temurin'
        cache: maven
      
    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Move Jar to Upload Location
      run: mv ./Peakaboo-*.jar ./Peakaboo.jar
      shell: bash

    - name: Upload Jar
      uses: actions/upload-artifact@v4
      with: 
        name: Peakaboo-${{ github.ref_name }}.jar
        path: ./Peakaboo.jar
      

  build-deb:
    
    needs: build-jar
    runs-on: ubuntu-latest

    steps:
      
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.ref }}
    
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: 'temurin'
    
    - name: Download Jar
      uses: actions/download-artifact@v4
      with: 
        name: Peakaboo-${{ github.ref_name }}.jar
        path: ./Packaging/jar
                
    - name: Run JPackage Deb Script
      run: ./build-deb.sh ${{ inputs.release_type }}
      working-directory: ./Packaging
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with: 
        name: Peakaboo-${{ github.ref_name }}.deb
        path: ./Packaging/peakaboo*.deb


  build-rpm:
    
    needs: build-jar
    runs-on: ubuntu-latest

    steps:
      
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.ref }}
    
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: 'temurin'
    
    - name: Download Jar
      uses: actions/download-artifact@v4
      with: 
        name: Peakaboo-${{ github.ref_name }}.jar
        path: ./Packaging/jar
                
    - name: Run JPackage RPM Script
      run: ./build-rpm.sh ${{ inputs.release_type }}
      working-directory: ./Packaging

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with: 
        name: Peakaboo-${{ github.ref_name }}.rpm
        path: ./Packaging/peakaboo*.rpm


  build-macos-intel:
    
    needs: build-jar
    runs-on: macos-13

    steps:
       
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.ref }}
    
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: 'temurin'

    - name: Introspect system
      run: uname -a
      shell: bash

    - name: Introspect jpackage
      run: which jpackage && jpackage --version
      shell: bash
        
    - name: Download Jar
      uses: actions/download-artifact@v4
      with: 
        name: Peakaboo-${{ github.ref_name }}.jar
        path: ./Packaging/jar
                
    - name: Run JPackage Mac Script
      run: ./build-macos.sh ${{ inputs.release_type }}
      working-directory: ./Packaging

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Peakaboo-${{ github.ref_name }}-Intel.dmg
        path: ./Packaging/Peakaboo*.dmg


  build-macos-m1:

    needs: build-jar
    runs-on: macos-latest

    steps:

    - uses: actions/checkout@v4
      with:
        ref: ${{ github.ref }}

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: 'temurin'

    - name: Introspect system
      run: uname -a
      shell: bash

    - name: Introspect jpackage
      run: which jpackage && jpackage --version
      shell: bash

    - name: Download Jar
      uses: actions/download-artifact@v4
      with:
        name: Peakaboo-${{ github.ref_name }}.jar
        path: ./Packaging/jar

    - name: Run JPackage Mac Script
      run: ./build-macos.sh ${{ inputs.release_type }}
      working-directory: ./Packaging
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with: 
        name: Peakaboo-${{ github.ref_name }}-M1.dmg
        path: ./Packaging/Peakaboo*.dmg


  build-windows:
    
    needs: build-jar
    runs-on: windows-latest
    

    steps:
       
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.ref }}
   
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: 'temurin'
   
    - name: Introspect jpackage
      run: which jpackage.exe && jpackage.exe --version
      shell: bash
        
    - name: Download Jar
      uses: actions/download-artifact@v4
      with: 
        name: Peakaboo-${{ github.ref_name }}.jar
        path: ./Packaging/jar
                
    - name: Run JPackage Windows Script
      run: ./build-windows.bat ${{ inputs.release_type }}
      shell: cmd
      working-directory: ./Packaging
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with: 
        name: Peakaboo-${{ github.ref_name }}.exe
        path: ./Packaging/Peakaboo*.exe
