name: Swing UI Tests

on: workflow_dispatch

jobs:
  swing-tests:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: 'temurin'
        cache: maven

    - name: Install Xvfb
      run: sudo apt-get install -y xvfb

    - name: Build all modules
      run: mvn -B install -DskipTests --file pom.xml

    - name: Run Swing Tests with Xvfb
      run: xvfb-run -a mvn -B test -Pswing-tests -pl Framework/Stratus --file pom.xml
